PROJECT_BASE_PATH="/workspace"

# Postgres creds
POSTGRES_USER=mlops_user
POSTGRES_PASSWORD=mlops_pass

# Databases created by init SQL:
# raw_data_db, processed_data_db, mlflow_tracking_db

# MLflow / Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/mlflow_tracking_db

MLFLOW_BACKEND_STORE_URI=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/mlflow_tracking_db
MLFLOW_ARTIFACT_ROOT=file:///mlflow/artifacts
